<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="DomainName" value="http://[DomainName]/"/>
    <add key="TwilioAcccountSid" value="[TwilioAcccountSid]"/>
    <add key="TwilioAuthToken" value="[TwilioAuthToken]"/>
    <add key="TwilioSenderPhone" value="[TwilioSenderPhone]"/>
    <add key="TwilioReceiverPhone" value="[TwilioReceiverPhone]"/>
    <add key="iTunesSubscriptionUrl" value="http://itunes.apple.com/us/podcast/keyvan.fm/id510238929"/>
    <add key="ZuneSubscriptionUrl" value="http://social.zune.net/podcast/Keyvan.TV/e16452bd-2224-4ae8-acd0-3027543a66fc"/>
    <add key="FacebookUrl" value="https://www.facebook.com/keyvan.fm"/>
    <add key="FacebookPageId" value="[FacebookPageId]"/>
    <add key="OpenGraphSiteName" value="[SiteName]" />
    <add key="OpenGraphPodcastName" value="[PodcastName]" />
    <add key="EmailSmtp" value="smtp.gmail.com"/>
    <add key="EmailUsername" value="username@gmail.com"/>
    <add key="EmailPassword" value="pas$word"/>
  </appSettings>
  <connectionStrings>
    <add name="RavenDB" connectionString="Url=[RavenDBUrl]"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/LogOn" timeout="99999999" name=".MINIHAWRAMAN"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".eot"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-woff"/>
    </staticContent>
    <urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true"/>
    <httpCompression cacheControlHeader="max-age=86400" noCompressionForHttp10="false" noCompressionForProxies="false" sendCacheHeaders="true"/>
    <rewrite>
      <rules>
        <clear/>
        <rule name="Redirect to no-WWW" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$"/>
          </conditions>
          <action type="Redirect" url="http://[DomainName]/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>