@using System
<footer id="sitemeta">
    <div class="clearfix">
        <div class="thefooter">
            <p>
                © @DateTime.UtcNow.Year 2012 Keyvan Nayyeri. All rights reserved.
            </p>
        </div>
    </div>
</footer>