<header id="masthead" class="clearfix">
    <div id="thehead">
        <h1>
            <a href="/">
                <div>
                    @ViewBag.SiteTitle</div>
            </a>
        </h1>
        <nav id="mainNav">
            @* <li><a href="/archive">Archive</a></li>*@
            <li><a href="/rss">RSS</a></li>
            <li><a href="/itunes">iTunes</a></li>
            <li><a href="/zune">Zune</a></li>
            <li><a href="/twitter">Twitter</a></li>
            <li><a href="/facebook">Facebook</a></li>
        </nav>
    </div>
</header>