<!DOCTYPE html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
     Theme: The Minimalist v1.
     Design: The Minimalist (http://minimalist.co)
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.PageTitle</title>
    <meta name="description" content="@ViewBag.SiteDescription">
    <meta name="generator" content="Mini Hawraman Version 1.0.0.0" />
    <meta name="keywords" content="Keyvan Nayyeri, Podcast, Audio, Programming, Software Development, Computer Science, Technology" />
    <link rel="stylesheet" href="/content/css/styles.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="http://keyvan.fm/rss" />
</head>
@RenderBody()
</html>
