@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
@RenderSection("head", required: false)
}

<body>
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
</body>
